body {
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}


.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
}

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
    font-size: .8rem;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}
  
.header-left {
    float:left;
}

.header span {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.1rem;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-left: 15%;
    color: #4682A9;
}

.user_details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 200px;
}

.profile-header .material-symbols-outlined {
    font-size: 200px;
    /* Adjust the size as needed */
    margin-right: 20px;
    /* Add some spacing between the icon and text */
}

.profile-info {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
}

.profile-info,
#h1 {
    margin-top: 100px;
    font-size: 1.2rem;
}

h1,
h4 {
    margin: 0;
    /* Remove default margins for the headings */
}

.Tasks,
#h1 {
    margin-top: 2%;
    color: #4682A9;
    font-size: 20px;
    margin-left: 100px;
    padding: 10px;
}

.Tasks h1::after {
    content: " ";
    position: absolute;
    display: block;
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: #4682A9;
    margin-top: 10px;
}

.Tasks p {
    font-size: 1.5rem;
    font-weight: 500;
}

.Tasks-progress {
    display: flex;
    align-items: center;
}

.Tasks-progress .material-symbols-outlined {
    font-size: 1.5rem;
    /* Adjust the size as needed */
    margin-right: 20px;
    /* Add some spacing between the icon and text */
}

.Tasks-progress p {
    font-size: 2rem;
    align-items: center;
    font-weight: 300;
    margin: 0;
}

#Remaining-Tasks p {
    font-weight: 300;
    font-size: 1.2rem;
}

.Tasks-progress-2 {
    display: flex;
    align-items: center;
}

.Tasks-progress-2 .material-symbols-outlined {
    font-size: 1.5rem;
    /* Adjust the size as needed */
    margin-right: 20px;
    /* Add some spacing between the icon and text */
}

.Tasks-progress-2 p {
    font-size: 2rem;
    font-weight: 300;
    align-items: center;
    margin: 0;
}

.Task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.task-title {
    flex-grow: 1;
    margin-right: 10px;
    text-align: left;
    margin-left: 10px;
}

.task-deadline {
    flex-shrink: 0;
}

.task-list span {
    font-weight: normal;
}

.chart-container {
    width: calc(50% - 20px);
    max-width: 500px;
    height: auto;
    margin: 10px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.chart-container h3 {
    font-weight: normal;
    /* Remove bold font weight */
    font-size: 1.2rem;
    /* Adjust font size */
    margin-bottom: 10px;
    /* Add some space below the title */
}
.canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

