* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F6F4EB;
    min-height: 100vh;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 20px;
  }

.task-date {
    color: green;
}

.calendar-dates li.has-tasks {
    background-color: rgb(80, 24, 27);
    color: white; 
    border-radius: 50%; 
    height: 35px;
    width: 35px;
}


.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
    font-size: .8rem;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}
  
.header-left {
    float:left;
}

.header span {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.1rem;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

h1 {
    color: #4682A9;
    margin-left: 15%;
	font-size: 2rem;
    font-family: 'Montserrat';
}

h1::after {
    margin-top: 5px;
    content: " ";
    position: absolute;
    display: block;
    left: 15%;
    width: 180px;
    height: 2.5px;
    background-color: #4682A9;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3%;
}

.task {
    border-radius: 10px;
	border: 3px solid #749BC2;
  	padding: 20px;
  	width: 30%;
  	height: 400px;
	background: white;
    
}

.yourtask{
	position: flex;
	align-items: center;
	justify-content: center;
	color: black;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	background: #E4E4E4;
}
.yourtask h2{
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
	top: 50%;
	text-align: center;
}

.task .dot {
	height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.subjects {
	display: flex;
	margin-top: 40px;
	margin-left: 20px;
}
.subjects {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.subjects .subject-title {
    display: flex;
    align-items: center;
    padding: 10px;
}

.subjects .dot {
    margin-right: 10px;
}

.subjects h3 {
    font-size: 15px;
    margin-left: 0;
    margin-right: 10px;
    font-weight: 300;
    color: #989898;
}

.subjects p {
    font-size: 20px;
    margin-left: 0;
    width: 400px;
    margin-right: 10px;
}

.subjects .material-symbols-outlined {
    margin-left: auto;
}

.add {
	margin-top: -20%;
	margin-left: 80%;
}

.calendar-container {
    width: 45%;
    border-radius: 10px;
    margin-right: 20px;
	margin-left: 8%;
}
.calendar-current-date {
	margin-left: 10px;
}
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .calendar-navigation {
    display: flex;
}

header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.7rem;
}

.calendar-navigation span:last-child {
    margin-right: -10px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
    font-weight: 500;
    font-size: 2rem;
}

.calendar-body {
    padding: 40px 20px;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 40px;
}

.calendar-body li {
    width: calc(100% / 7);
    font-size: 1rem;
    color: #414141;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #fff;
}

.calendar-dates li.isTask {
    color: #d07f7f;
}

.light-pink-circle {
    background-color: lightpink;
    border-radius: 50%;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

.tasks-container {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    display: none;
    margin-top: 20px;
}

.add-task-container {
    margin-top: 20px;
    text-align: center;
}

.menu{
    width: 5%;
    position: absolute;
    background-color: #306f99;
    color: white;
    padding: 15px;
    margin: 20px 250px 0;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    
}

.edit a:hover{
    padding-right: 50px;
}

.menu a:hover{
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
    border-radius: 0.2rem;
    background-color: #6aa4cb;
}