body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
  }

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}

.header span {
    float: left;
    color: #B9E7FF;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

.top_buttons{
    padding: 20px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top_buttons a {
    color: #4682A9;
    text-decoration: none;
}

.back_button{
    margin-left: 8%;
}

.important_button{
    margin-right: 8%;
    cursor: pointer;
}

.box {
    margin-top: 35px;
    width: 72%;
    height: 60px;
    margin-left: 200px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
}

.inner-box {
    position: relative;
}

.title,
.notes {
    color: white;
    margin-left: 7px;
    font-family: 'Montserrat', Arial;
}

.split-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.split-box .box {
    width: 48%;
    height: 30px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: -100px;
}

.split-box .inner-box {
    position: relative;
    margin-top: 5px;
}

.split-box .time-box {
    width: 50%;
    height: 30px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 130px;
}

.date,
.time,
.ass {
    color: white;
    margin-left: 7px;
    font-family: 'Montserrat', Arial;
}

.v-symbol {
    position: absolute;
    right: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #ffffff;
    cursor: pointer;
}

.clickable-text {
    color: white;
    font-family: 'Montserrat', Arial;
    font-size: smaller;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    margin-left: 225px;
}

.clickable-text:hover {
    text-decoration: underline;
}

.box.notes-box {
    width: 72%;
    height: 170px;
}

.cancel-text {
    color: #749BC2;
    text-decoration: none;
    font-family: 'Montserrat', Arial;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    margin-top: 25px;
    margin-left: 250px;
}

.button-container {
    display: inline-block;
    vertical-align: middle;
}

.button {
    padding: 6px 60px;
    background-color: #4682A9;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 970px;
    transition: opacity 0.3s ease;
    font-family: 'Montserrat', Arial;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    background-color: #579fcf;
}

.title-input,
.notes-input {
    color: white;
    margin-left: 7px;
    font-family: 'Montserrat', Arial;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 25px;
    margin-left: 25px;
}

.title-input::placeholder,
.notes-input::placeholder {
    color: transparent;
}

.date-input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4682A9;
    color: #fff;
    box-sizing: border-box;
    margin-top: -23px;
    float: right;
    outline: none;
}

.time-input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4682A9;
    color: #fff;
    box-sizing: border-box;
    margin-top: -23px;
    float: right;
    outline: none;
}

.star {
    color: #4682A9;
    font-size: 50px;
    overflow: auto;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 138px;
    top: -20px;
    z-index: 9999;
}
