body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
  }

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}

.header span {
    float: left;
    color: #B9E7FF;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

.top_buttons{
    padding: 20px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top_buttons a {
    color: #4682A9;
    text-decoration: none;
}

.back_button{
    margin-left: 8%;
}

.important_button{
    margin-right: 8%;
    cursor: pointer;
}

.box {
    width: 70%;
    height: 70px;
    margin-left: 15%;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
}

.inner-box {
    justify-content: center;
    width: 100%;
}

.title,
.notes {
    color: white;
    margin-left: 7px;
    font-family: 'Montserrat', Arial;
}

.split-box {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 50px;
    margin-left: -6.8%;
}

.split-box .box {
    width: 32.8%;
    height: 30px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.time_box{
    width: 32.8%;
    height: 30px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.date,
.time,
.ass {
    color: white;
    margin-left: 7px;
    font-family: 'Montserrat';
}

.teams * {
    box-sizing: border-box;
}

.select{
    color: #F6F4EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.caret{
    width:0;
    height: 0;
    margin-right: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #F6F4EB;
    transition: 0.3s;
}

.caret-rotate{
    transform:rotate(180deg);
}

.dropdown{
    list-style: none;
    padding: 5px 10px;
    background: #306f99;
    border: 1px #363a43;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
    border-radius: 10px;
    color: #F6F4EB;
    position: absolute;
    top: 360px;
    width: 30%;
    transform: translateX(133%);
    
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.dropdown li{
    padding: 10px;
    margin: 10px 0 10px 10px;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdown li:hover{
    background: #749BC2;
}

.chosen{
    background: #124160;
}

.menu-open{
    display: block;
    opacity: 1;
}

.clickable-text {
    color: white;
    font-family: 'Montserrat', Arial;
    font-size: smaller;
    text-decoration: none;
    display: inline-block;
    margin-left: 25%;
    margin-top: -50px;
}

.progress{
    margin-top: -5px;
}

.clickable-text:hover {
    text-decoration: underline;
}

.notes-box {
    width: 70%;
    height: 170px;
    background-color: #4682A9;
    padding: 20px;
    border-radius: 5px;
}

.cancel-text {
    color: #749BC2;
    text-decoration: none;
    font-family: 'Montserrat', Arial;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    margin-top: 25px;
    margin-left: 250px;
}

.button-container {
    display: inline-block;
    vertical-align: middle;
}

.button {
    padding: 6px 60px;
    background-color: #4682A9;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 970px;
    transition: opacity 0.3s ease;
    font-family: 'Montserrat', Arial;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    background-color: #579fcf;
}

.notes_box {
    margin-top: 35px;
    width: 70%;
    height: 60px;
    margin-left: 15%;
    background-color: #4682A9;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
}

.title-input{
    color: white;
    font-family: 'Montserrat', Arial;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 10px;
}

.notes-input {
    color: white;
    font-family: 'Montserrat', Arial;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 10px;
}

.title-input::placeholder,
.notes-input::placeholder {
    color: transparent;
}

.date-input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4682A9;
    color: #fff;
    box-sizing: border-box;
    margin-top: -23px;
    float: right;
    outline: none;
}

.time-input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4682A9;
    color: #fff;
    box-sizing: border-box;
    margin-top: -23px;
    float: right;
    outline: none;
}

.star {
    color: #4682A9;
    font-size: 50px;
    overflow: auto;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 138px;
    top: -20px;
    z-index: 9999;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
