body {
    background-color: #F6F4EB;
    margin: 0; 
}

.hamburger-menu {
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #4682A9;
    margin: 5px 0;
    transition: 0.4s;
}

.menu {
    display: none;
    position: absolute;
    top: 35px; 
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    font-family: 'Montserrat';
}

.menu ul li:hover {
    background-color: #91C8E4; 
}

.menu ul li a {
    color: #4682A9;
    text-decoration: none;
}

.show {
    display: block;
}

h1{
    color: #4682A9;
    margin-left: 200px;
    font-family: 'Montserrat';
}

h1::after{
    content: " ";
    position: absolute;
    display: block;
    left: 16%;
    width: 8%;
    height: 2px;
    background-color: #4682A9;
}

.box {
    margin-top: 50px;
    width: 72%;
    height: 80px;
    margin-left: 200px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
}

.inner-box {
    position: relative;
}

.to-do, .in-progress, .finished{
    color: white;
    font-weight: bold;
    margin-left: 7px;
    font-family: 'Montserrat';
}

.other-box {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 95%;
    background-color: #91C8E4;
    border-radius: 5px;
    overflow: hidden;
}

.v-symbol {
    position: absolute;
    top: calc(100% - 30px); 
    right: 20px; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 20px solid #4682A9; 
    cursor: pointer;
}

.v-options {
    position: absolute;
    top: calc(100% + 5px); 
    right: 25px;
    width: max-content; 
    background-color: #749BC2;
    border-radius: 5px;
    display: none;
    border: 1px solid #91C8E4;
}

.v-options.active {
    display: block;
}

.v-option {
    margin: 0; 
    padding: 5px 100px; 
    color: white;
    text-decoration: none;
    display: block; 
    font-family: 'Montserrat';
}

.v-option:hover {
    background-color: #91C8E4; 
    border-radius: 5px;
}

.v-options::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 100%;
    background-color: #91C8E4;
    z-index: 1;
}

.v-opt2 {
    position: absolute;
    top: calc(100% + 5px); 
    right: 25px; 
    width: max-content; 
    background-color: #749BC2;
    border-radius: 5px;
    display: none;
    border: 1px solid #91C8E4;
}

.v-opt2.active {
    display: block;
}

.v-opt2 .v-option {
    margin: 0; 
    padding: 5px 100px; 
    color: white;
    text-decoration: none;
    display: block; 
}

.v-opt2 .v-option:hover {
    background-color: #91C8E4; 
    border-radius: 5px;
}

.v-opt2::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 100%;
    background-color: #91C8E4;
    z-index: 1;
}

.v-opt3 {
    position: absolute;
    top: calc(100% + 5px); 
    right: 25px; 
    width: max-content; 
    background-color: #749BC2;
    border-radius: 5px;
    display: none;
    border: 1px solid #91C8E4;
}

.v-opt3.active {
    display: block;
}

.v-opt3 .v-option {
    margin: 0; 
    padding: 5px 100px; 
    color: white;
    text-decoration: none;
    display: block; 
}

.v-opt3 .v-option:hover {
    background-color: #91C8E4; 
    border-radius: 5px;
}

.v-opt3::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 100%;
    background-color: #91C8E4;
    z-index: 1;
}

.add-task {
    position: absolute;
    top: 12%; 
    right: 11%; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    background-color: #4682A9; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 20px; 
    cursor: pointer;
}
