body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
  }

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}
  
.header-left {
    float:left;
}

.header span {
    float: left;
    color: #B9E7FF;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

h1 {
    color: #4682A9;
    margin-left: 200px;
    font-family: 'Montserrat', Arial;
}

h1::after {
    content: " ";
    position: absolute;
    display: block;
    left: 16%;
    width: 8%;
    height: 2px;
    background-color: #4682A9;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add{
    margin-top: 35px;
    margin-right: 200px;
}

.box{
    width: 70%;
    align-items: center;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: #4682A9;
    color: white;
    border-radius: 5px;
}

.box-title{
    font-weight: 700;
    font-size: 1.1rem;
}

.title-input{
    font-weight: 600;
}

.inner-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #91C8E4;
    color:#124160;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.star-button, .name-bar {
    margin-right: 10px;
}

.star-button{
    cursor: pointer;
}

.caret{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #124160;
    transition: 0.3s;
    margin-left: auto;
}

.caret-rotate{
    transform:rotate(180deg);
}

.dropdown li{
    color: white;
    font-size: 0.8rem;
    list-style: none;
    padding: 10px 0 10px 20px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.dropdown li:hover{
    background: #749BC2;
}

.chosen{
    background: #124160;
}

.dropdown{
    width: 12%;
    position: absolute;
    background-color: #306f99;
    padding: 5px;
    margin: 170px 5px 0;
    border-radius: 0.5rem;
    display: none;
    opacity: 0;
    transform: translateX(435%);
    z-index: 1;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
}

.menu-open{
    display: block;
    opacity: 1;
}
