body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
  }

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}

.header span {
    float: left;
    color: #B9E7FF;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

h1{
    color: #4682A9;
    margin-left: 195px;
}

h1::after{
    content: " ";
    position: absolute;
    display: block;
    width: 10%;
    height: 3px;
    background-color: #4682A9;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add{
    margin-top: 35px;
    margin-right: 200px;
    cursor: pointer;
}

.add:hover {
    cursor: pointer;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team{
    width: 20%;
    border-radius: 20px;
    background-color: #4682A9;
    margin: 40px 25px;
    padding: 10px 30px;
    cursor: pointer;
}

.team h2{
    color: #F6F4EB;
    font-weight: 600;
}

.team h2::after{
    content: " ";
    position: absolute;
    display: block;
    margin-top: 5px;
    margin-left: -30px;
    width: 30%;
    height: 2px;
    background-color: #F6F4EB;
}

.team h3{
    color: #F6F4EB;
    font-weight: 500;
    font-size: 13px;
    margin-top: 120px;
}

/* Modal styles (team) */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999;
    overflow: auto; 
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; 
}

.back-button {
    position: absolute;
    top: 20px; 
    right: 80px; 
    cursor: pointer;
    font-size: 40px;
    z-index: 999; 
    border: none;
    background-color: transparent;
    color: #4682A9;
    padding: 0;
}

.team-margin{
    margin-left: 50px;
}

/*Members*/
.members-btn {
    background-color: none;
    border: 3px solid #4682A9;
    color: #4682A9;
    font-size: 16px;
    padding: 10px 22px;
    cursor: pointer;
}

.membersText {
    background-color: none;
    color: #4682A9;
    font-size: 16px;
}

/*Create team*/
.box-container {
    justify-content: center;
    
}
.team-container {
    border: 2px solid #4b6e7e;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}


.create-team-btn {
    position: absolute;
    bottom: 50px; 
    right: 100px; 
    cursor: pointer;
    font-size: 14px;
    z-index: 999;
    border: none;
    border-radius: 25px;
    background-color: #4682A9;
    color: white;
    padding: 10px 25px;
}

.cancel-btn {
    position: absolute;
    bottom: 50px; 
    left: 100px; 
    cursor: pointer;
    font-size: 14px;
    z-index: 999;
    border: none;
    background-color: transparent;
    color: #4682A9;
    padding: 0;
}

.team a {
    text-decoration: none; 
}