body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
  }

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
    font-size: .8rem;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}
  
.header-left {
    float:left;
}

.header span {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.1rem;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

.team_name{
    display: flex;
    justify-content: space-between;
}

.back_button{
    margin-right: 12%;
    margin-top: 4%;
}

.back_button .material-symbols-outlined{
    color: #4682A9;
    font-weight: 500;
} 

h1{
    margin-top: 50px;
    color: #4682A9;
    margin-left: 195px;
}

h1::after{
    content: " ";
    position: absolute;
    display: block;
    width: 10%;
    height: 3px;
    background-color: #4682A9;
}

.members{
    font-family: 'Montserrat';
    background-color: #ffffff;
    border: 3px solid #4682A9;
    border-radius: 8px;
    color: #4682A9;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 200px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.box {
    margin-top: 30px;
    width: 70%;
    height: 70%;
    margin-left: 13%;
    background-color: #ffffff;
    border: 3px solid #306f995c;
    padding: 0.2rem 2.5rem;
    border-radius: 20px;
}

.inner-box{display: flex;
    flex-wrap: wrap;
}

.icon .material-symbols-outlined{
    font-size: 40px;
    margin-top: 15px;
    color: #306f99;
}

.details{
    margin-left: 20px;
}

.details h3{
    margin-top: -15px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #306f998f;
}

.details h2{
    color: #306f99;
    font-size: 1.2rem;
    font-weight: 600;
}