body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
  }

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
    font-size: .8rem;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}
  
.header-left {
    float:left;
}

.header span {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.1rem;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

h1{
    color: #4682A9;
    margin-left: 195px;
}

h1::after{
    content: " ";
    position: absolute;
    display: block;
    width: 10%;
    height: 3px;
    background-color: #4682A9;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add{
    margin-top: 35px;
    margin-right: 200px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team{
    width: 20%;
    border-radius: 20px;
    background-color: #4682A9;
    margin: 40px 25px;
    padding: 10px 30px;
}

.team h2{
    color: #F6F4EB;
    font-weight: 600;
}

.team h2::after{
    content: " ";
    position: absolute;
    display: block;
    margin-top: 5px;
    margin-left: -30px;
    width: 30%;
    height: 2px;
    background-color: #F6F4EB;
}

.team h3{
    color: #F6F4EB;
    font-weight: 500;
    font-size: 13px;
    margin-top: 120px;
}