body{
    background-color: #F6F4EB;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #4682A9;
    font-family: 'Montserrat';
    font-weight: 600;
}

.menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.header a {
    float: left;
    color: #F6F4EB;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
}
  
.header a.active {
    background-color: #91C8E4;
    color: #306f99;
}

.header span {
    float: left;
    color: #B9E7FF;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

.header span:hover {
    background-color: #91c8e446;
    color: #B9E7FF;
    cursor: pointer;
}
  
.header span.active {
    background-color: #91C8E4;
    color: #4682A9;
}
  
.header-left {
    float:left;
}

.header-right {
    float:right;
}

h1{
    color: #4682A9;
    margin-left: 195px;
    font-family: Arial;
}

h1::after{
    content: " ";
    position: absolute;
    display: block;
    left: 16%;
    width: 14%;
    height: 2px;
    background-color: #4682A9;
}

.text-placeholder {
    position: absolute;
    color: #fff;
    font-family: Arial;
}

.text-placeholder input.text-input {
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    background: transparent;
    border: none; 
    outline: none;
    font-size: 15px;
    width: calc(100% - 25px);
}

.text-placeholder input.text-input::placeholder {
    color: rgb(76, 76, 76); 
}

.top-left {
    left: 110px;
    top: 60px;
}

.top-right {
    top: 60px;
    right: 300px;
}

.bottom-left {
    bottom: 60px;
    left: 110px;
}

.bottom-right {
    bottom: 60px;
    right: 300px;
}

/*riri na raw magaayos*/
.star-button .materials-symbols-outlined {
    font-size: 200px;
    height: 10%;
}

.box {
    position: relative;
    margin-top: 50px;
    width: 72%;
    height: 80px; 
    margin-left: 195px;
    background-color: #4682A9;
    padding: 10px;
    border-radius: 5px;
    padding-left: 80px; 
}

.box::after {
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 110px; 
    width: 85%;
    height: 1px; 
    background-color: #FFF; 
}

.trash-icon {
    position: absolute;
    top: 75%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

.trash-icon i {
    font-size: 20px;
    color: #FFF;
}
