body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #91C8E4;
  }
  
.navbar {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}
  
.navbar-center {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
  
.navbar-title {
    margin: 0;
}

.title {
    font-size: 100px;
    margin-top: 170px; 
    margin-left: 520px;
}

.desc {
    text-align: center;
    font-size: 18px;
}

.sign-in {
    color: #4682A9;
    background-color: white;
    border-color: #4682A9;
    border-radius: 9px;
    border: 2px solid #4682A9;
    padding: 8px 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    font-size: 15px;
}

.sign-in:hover {
    background-color: #4682A9;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
}
